*.o
.deps/
.libs/
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux
/config.*
/configure
/depcomp
/install-sh
/missing
/libtool
/stamp-h1
/src/mscompress
/src/msexpand
/test/test.new
/test/test.txt_
